.sigone-dynamic-dialog {
  border-radius: 22px !important;
  overflow: hidden !important;
}

.sigone-dynamic-dialog .p-dialog-content {
  padding: 0 !important;
  border-radius: 22px !important;
  background: transparent !important;
}

.sigone-inner-dialog {
  border-radius: 20px !important;
  overflow: hidden !important;
}

.sigone-inner-dialog .p-dialog-content {
  padding: 0 !important;
  border-radius: 20px !important;
  background: transparent !important;
}
